[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
django-heroku = "*"
python-binary-memcached = "*"
django-bmemcached = "*"
django-redis-cache = "*"
celery = "*"
django-celery-results = "*"
django-celerybeat-status = "*"
requests = "*"
"beautifulsoup4" = "*"
"psycopg2-binary" = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.6"
