* {
    padding: 0px;
    margin: 0px;
}

nav {
    height: 50px;
}

nav ul {

}

nav ul li {
    list-style-type: none;
    width: 150px;
    float: right;
    max-width: 130px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: black;
    line-height: 50px;
    display: block;
}

nav ul li a:hover {
    color: #ddf7b4;
}


body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 60px;
}

h4 {
    font-weight: bold;
}

.dashboard {
    margin: 10px;
}

.menu {
    overflow: hidden;
    background-color: #FFFFFF;
    float: left;
    width: 200px;
    margin-right: 20px;
}

.content {
    float: left;
}

.menu input[type=button] {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 15px;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 12px;
    transition: 0.3s;
    width: 200px;
    text-align: left;
}

.menu input[type=button] ul li {
    list-style-type: none;
}

.menu input[type=button].active {
    background-color: #ddf7b4;
}

.menu input[type=button]:hover {
    background-color: #edf9e5;
}

.menu-content {
    display: none;
    padding: 6px 12px;
}